<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Show Book</title>
  </head>
  <body>
    <h2>Show Book</h2>
    <div><b>Name : </b> <%= book.name %></div>
    <div><b>Body : </b> <%= book.body %></div>
    <div><b>Sales : </b> <%= book.sales %></div>
    <div><b>Genre : </b> <%= book.genre %></div>
    <div><b>Language : </b> <%= book.language %></div>
  </body>
</html>
